@use "bootstrap" as *;
@use "../../scss/abstracts/variables";

.content-page-wrapper.register-new-venue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  textarea {
    height: 200px;
  }

  .input-group {
    background-color: variables.$main-color;

    .input-group-text {
      background-color: transparent;
      color: $light;
      border-radius: variables.$border-radius-main;
    }
  }
}
