@use "bootstrap" as *;
@use "../../../scss/abstracts/variables";
@use "../../../scss/abstracts/spacers";

form {
  margin: auto;
  width: 100%;
  max-width: 600px;
  border-radius: variables.$border-radius-normal;
  padding: spacers.spacer(3) spacers.spacer(2);
}
