@use "bootstrap" as *;
@use "../../../scss/abstracts/variables";
@use "../../../scss/abstracts/breakpoints";
@use "../../../scss/abstracts/spacers";

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  margin: 0;
  border-radius: variables.$border-radius-normal;
  border: 1px solid $dark;
  border-color: $dark;
  transition: variables.$transition-main;

  @media (min-width: breakpoints.get(md)) {
    &:hover {
      background-color: variables.$action-color-hover;
      border: 1px solid $dark;
      box-shadow: variables.$box-shadow-null;
    }
  }
}
