@use "bootstrap" as *;
@use "../../../scss/abstracts/variables";
@use "../../../scss/abstracts/breakpoints";
@use "../../../scss/abstracts/spacers";

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 25px;
  margin: 0;
  border-radius: variables.$border-radius-normal;
  border: 2px solid transparent;
  border-color: $dark;
  transition: variables.$transition-main;
  color: variables.$max-dark-color;

  @media (min-width: breakpoints.get(md)) {
    &:hover {
      box-shadow: variables.$box-shadow-null;
    }
  }
}
