@use "bootstrap" as *;
@use "../../../scss/abstracts/breakpoints";
@use "../../../scss/abstracts/variables";

input.custom-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  max-width: 80%;
  cursor: pointer;
}

input.custom-input:focus {
  border: 2px solid variables.$text-muted-custom;
  transform: translateY(1px);
}

input.custom-input::placeholder {
  color: $light;
}

input.input-textarea {
  align-self: baseline;
  height: 200px;
}

@media (min-width: breakpoints.get(md)) {
  input.custom-input {
    &:hover {
      background-color: variables.$primary-color;
      color: $dark;

      &::placeholder {
        color: $dark;
      }
    }
  }
}
