@use "../../../scss/abstracts/variables";

img.user-banner {
  width: 100%;
  height: 300px;
  border-radius: variables.$border-radius-normal;
  object-fit: cover;
  object-position: 0 90%;
}

img.user-avatar {
  margin-top: -150px;
  margin-left: 20px;
  border: 2px solid variables.$main-color;
  border-radius: variables.$border-radius-circle;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

ul.upcoming-bookings {
  max-width: 600px;
  list-style: decimal;
  background-color: variables.$alfa-color;
  padding: 10px 15px;
  border: 2px solid variables.$main-color;
  border-radius: variables.$border-radius-normal;

  li {
    max-width: 100%;
    border-bottom: 2px solid variables.$main-color;
    margin-bottom: 20px;
    padding-bottom: 5px;
    margin-left: 35px;
    span {
      display: block;
    }
  }
}
