@use "../../scss/abstracts/variables";

.logged-user-component {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.logged-user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid #fff;
  cursor: pointer;
}

.dropdown-toggle::after {
  margin-left: 0 !important;
  transform: translateX(-55px);
}

.dropdown-menu {
  display: block !important;
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: variables.$transition-main;

  &.show {
    margin-top: 10px;
    visibility: visible;
    border: 1px solid variables.$main-color;
    transform: translateY(10px);
    opacity: 1;

    .dropdown-divider {
      height: 0.5px;
      background-color: variables.$main-color;
    }
  }
}

.inactive {
  display: none;
}
