@use "bootstrap" as *;
@use "../../scss/abstracts/breakpoints";
@use "../../scss/abstracts/variables";

.guests-counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;

  .guest-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid variables.$main-color;
    border-radius: variables.$border-radius-normal;
    padding: 10px 15px;
    background-color: variables.$alfa-color;

    label {
      width: 55%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .counter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: variables.$main-color;
        color: $light;
        border: none;
        border-radius: variables.$border-radius-circle;
        padding: 10px;
      }
    }
  }

  .total-guests {
    text-align: right;
  }
}

@media (min-width: 300px) {
  .guests-counter {
    .guest-type {
      label {
        width: 60%;
      }

      .counter {
        width: 40%;
      }
    }
  }
}

@media (min-width: breakpoints.get(md)) {
  .guests-counter {
    .guest-type {
      label {
        // width: 60%;
      }

      .counter {
        // width: 60%;
      }
    }
  }
}
