@use "bootstrap" as *;
@use "../abstracts/variables" as variables;
@use "../abstracts/spacers";
@use "../abstracts/breakpoints" as breakpoint;

body {
  font-family: "Arial", sans-serif;
  background-color: variables.$secondary-color;
  box-sizing: border-box;
}

.header {
  background-color: variables.$main-color;
}

.page-element-wrapper {
  color: $light;
  padding: spacers.spacer(3);
  text-align: center;
  background-color: variables.$main-color;
  min-height: 600px;
  border-radius: variables.$border-radius-normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: spacers.spacer(3) auto;
}

form,
.content-page-wrapper {
  margin: spacers.spacer(3) auto;
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
  border-radius: variables.$border-radius-normal;
  padding: spacers.spacer(3) spacers.spacer(2);
}

.link-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 30px;
}

.link-button,
.custom-input {
  font-size: map-get($font-sizes, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $light;
  border-radius: variables.$border-radius-main;
  text-align: center;
  min-width: 250px;
  margin: 0 auto variables.$border-radius-main;
  color: $light;
  background-color: variables.$main-color;
  height: 40px;
  padding: spacers.spacer(4) spacers.spacer(4);
  margin: 0 auto;
  text-decoration: none;
  transition: variables.$transition-main;
}
