@use "bootstrap" as *;
@use "../abstracts/variables";

body {
  font-family: "Arial", sans-serif;
  background-color: variables.$secondary-color;
  box-sizing: border-box;
}

.header {
  background-color: variables.$main-color;
}

.navbar-nav a {
  color: $light;
}

.navbar-nav a.nav-link.active {
  color: $light;
  font-weight: $font-weight-semibold;
}

.navbar-nav a.nav-link:hover {
  color: $gray-400;
}
