@use "../../scss/abstracts/variables";

.display-selected-dates-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.display-selected-dates {
  background-color: variables.$alfa-color;
  padding: 10px 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 2px solid variables.$main-color;
  border-radius: variables.$border-radius-normal;

  p {
    margin: 0;
  }
}
