.image-wrapper {
  width: 100%;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.yes {
  color: green;
  font-weight: 600;
}

.no {
  color: black;
  font-weight: 600;
}
