@use "Bootstrap" as *;
@use "../../../scss/abstracts/breakpoints";
@use "../../../scss/abstracts/variables" as v;

.image-wrapper {
  width: 100%;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.owner-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.owner-avatar {
  border: 2px solid v.$main-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.yes {
  color: $dark;
}

.no {
  color: v.$text-muted-custom;
  text-decoration: line-through;
}

.data-picker-button-wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: v.$secondary-color;
  box-shadow: v.$box-shadow-light;
  padding: 10px;
}

@media (min-width: breakpoints.get(md)) {
  .single-venue-description {
    min-height: 300px;
  }
}
