@use "bootstrap" as *;
@use "./abstracts/variables";
@use "./abstracts/breakpoints";
@use "./abstracts/responsive-widths";
@use "./global/global";

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  box-sizing: border-box;
}
