@use "../../Buttons/CustomButton/CustomButton.scss" as *;
@use "../../../scss/abstracts/variables" as variables;

button.log-in-button {
  @include button;

  max-width: 200px;
  margin: auto;
  border: 2px solid variables.$max-light-color;
  border-radius: variables.$border-radius-main;

  &:hover {
    background-color: variables.$max-light-color;
    color: variables.$max-dark-color;
  }
}
